.app-main-menu {
	margin:5px 0px 10px 0px;
}
.main-filter {
	margin:0px 0px 10px 0px;
}
.volume {
	font-size: 24px;
}

.main-app-table {
	font-size:14px;
}

.add-new-employee-salary {
	margin-bottom:10px;
}
.destroy-rate {
	cursor:pointer;
}